body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Paragraph */
p{
    color: blue;
    background-color: rgb(224, 255, 227);
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}

/* Link */
a{
    color: rgb(241, 13, 218);
    text-decoration: none;
    border: 1px solid rgb(24, 81, 104);
    padding: 8px;
    border-radius: 10px;
}

a:hover{
    color: white;
    background-color: green;
    text-decoration: underline;
}

/* Ordered List */
ol{
    list-style-type: upper-roman;
}

/* Unordered List */
ul{
    list-style-type: square;
}

/* Table */
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

tr:hover{
    background-color: rgb(230, 22, 22);
}

tr:nth-child(odd){
    background-color: rgb(235, 235, 49);
}

tr:nth-child(even){
    background-color: rgb(34, 192, 216);
}